* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

.App {
    background-color: white;
    border-radius: 10px 10px 0 0;
}

nav {
    height: 70px;
    box-shadow: 0px 3px 7.5px rgba(0,0,0,0.1);
    border-radius: 10px 10px 0 0;
}

.navbar-logo {
    width: 82px;
    margin: 22px 30px;
    max-width: 100px;
}

.hero {
    padding: 30px 30px 0;
    display: flex;
    flex-direction: column;
}

.hero--grid {
    max-width: 80%;
    align-self: center;
}

.hero--header {
    margin: 36px 36px 16px;
    font-size: 3.6rem;
}

.hero--description {
    margin: 0 36px 49px;
    font-size: 1.6rem;
    max-width: 70%;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    margin-left: 66px;
}

.card {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    font-size: 1.2rem;
    width: 175px;
    position: relative;
}

.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;;
}

.rating {
    display: flex;
    align-items: center;
    
}

.star {
    width: 14px;
    margin-right: 5px;
}

.card--title {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 0;
    
    
}

.grey {
    color: #918E9B;
    margin: 0 1px;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}